<!DOCTYPE html>
<html lang="nl">
<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/header.ejs') %>
<main>
    <h1>Ontdek mensen</h1>
    <% if (personen.length > 0) { %>
        <% personen.forEach(personen => { %>
            <section class="persoon">
                <img src="" alt="profiel afbeelding <%= personen.naam %>">
                <article>
                    <h2 class='personen-naam'><%= personen.naam %></h2>
                    <p class='personen-bio'><%= personen.bio %></p>
                </article>
            </section>
        <% }) %>
    <% } else { %>
        <p>Er zijn geen personen gevonden die aan je voorkeuren voldoen. Pas je voorkeuren aan of kijk later opnieuw.</p>
    <% } %> 
    <form class="like-form" action="" method="POST">
        <button class="skip-btn" name="skip"><img src="./images/cross.svg" alt="skip"></button>
        <button class="redo-btn" name="redo"><img src="./images/redo.svg" alt="redo"></button>
        <button class="like-btn" name="like"><img src="./images/heart.svg" alt="like"></button>
    </form>
</main>
<script src="./js/script.js"></script>
</body>

</html>