<!DOCTYPE html>
<html lang="nl">
<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/header.ejs') %>
    <main>
        <h1>Ontdek mensen</h1>
        <% if (huidigePersoon) { %>
        <a href="./explore/<%= huidigePersoon.id %>" class="persoon-sectie">
            <section>
                <img src="./images/personen/<%= huidigePersoon.img %>"
                    alt="profiel afbeelding <%= huidigePersoon.naam %>">
                <article>
                    <h2 class='personen-naam'><%= huidigePersoon.naam %></h2>
                    <p class='personen-bio'><%= huidigePersoon.bio %></p>
                </article>
            </section>
        </a>
        <% } else { %>
        <p>Er zijn geen personen meer gevonden die aan je voorkeuren voldoen. Pas je voorkeuren aan of kijk later
            opnieuw.</p>
        <% } %>


        <form class="like-form" action="" method="POST">
            <button class="skip-btn" name="skip">Skip<img src="./images/cross.svg" alt="skip"></button>
            <button class="redo-btn" name="redo">Redo<img src="./images/redo.svg" alt="redo"></button>
            <button class="like-btn" name="like">Like<img src="./images/heart.svg" alt="like"></button>
        </form>
    </main>
    <script src="./js/script.js"></script>
</body>

</html>