<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/header.ejs') %>
    <main>
        <% if (personen.length > 0) { %>
            <% personen.forEach(personen => { %>
                <section>
                    <img src="" alt="profiel afbeelding <%= personen.naam %>">
                    <article>
                        <h2 class='personen-naam'><%= personen.naam %></h2>
                        <p class='personen-bio'><%= personen.bio %></p>
                    </article>
                </section>
           <% }) %>
        <% } %>
        <form action="" method="POST">
            <button name="skip"><img src="./images/dislike.svg" alt="skip"></button>
            <button name="redo"><img src="./images/redo.svg" alt="redo"></button>
            <button name="like"><img src="./images/like.svg" alt="like"></button>
        </form>
    </main>
</body>
</html>